$dodger-blue: #5175ff;
$malibu: #829CFF;
$malibu-light: #7DA7FF;
$oxford-blue: #333950;
$ebony-clay: #25293a;
$waterloo: #747B95;
$carnation: #f05b5b;
$bg-color: #fafafa;
$card-box-shadow: 0px 50px 50px #4b5c9a3f;
$white: #fff;
$regular: 400;
$bold: 700;