.footer {
   padding-bottom: 10rem;
   text-align: center;
   color: $white;
   .footer__box {
      margin-bottom: 4rem;
      .footer__date {
         font-size: 1.6rem;
         letter-spacing: 0.5rem;
         margin-bottom: 4.5rem;
      }
      .footer__date--blue {
         color: $dodger-blue;
      }

      .footer__countdown {
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         gap: 1rem;
      }

      .footer__countdown-item {
         display: flex;
         flex-direction: column;
         justify-content: center;
         width: 7.2rem;
         height: 9.2rem;
         border-radius: 0.4rem;
         background-color: $oxford-blue;
      }

      .footer__countdown-amount {
         font-size: 3.2rem;
      }

      .footer__countdown-type{
         font-size: 1.2rem;
         opacity: 0.5;
      }
   }
}
