@media (min-width: 768px) {
   .header {
      text-align: left;

      &__logo {
         width: 15.5rem;
         margin-bottom: 11.2rem;
      }

      &__hero {
         flex-direction: row;
         justify-content: space-between;
      }

      &__content {
         width: 34.5rem;
      }

      &__hero-body {
         margin-bottom: 3rem;
      }

      &__media {
         display: flex;
         margin-bottom: 0;
         .desktop-chart {
            width: 28.1rem;
            align-self: flex-end;
            z-index: -1;
         }
      }
   }
   //Header end
   // Main
   .main {
      .main__card {
         display: grid;
         grid-template-columns: 55% 45%;
         text-align: left;
         max-width: 689px;
         max-height: 316px;
         padding: 4rem 3rem 4rem 4.8rem;

         &.card__box-shadow {
            box-shadow: $card-box-shadow;
         }

         &--blue {
            background-position: 170% 51%;
         }

         &-button {
            justify-self: start;
         }
      }

      .main__tablet-container {
         margin-bottom: 0;
      }

      .main__card-type {
         margin-bottom: 1.7rem;
      }

      .main__card-features {
         margin-top: 1.5rem;
      }

      .main__card-button {
         margin-top: 0;
      }
   }
   // Main end

   .footer {
      .footer__box {
         max-width: 44.8rem;
         margin: 0 auto 4rem auto;
         .footer__countdown {
            grid-template-columns: repeat(4, auto);
            justify-content: space-between;
         }
         .footer__countdown-item {
            width: 10rem;
            height: 12.8rem;
         }

         .footer__countdown-amount {
            font-size: 5.6rem;
         }

         .footer__countdown-type {
            font-size: 1.6rem;
         }
      }
   }
   //Footer end
}
//end tablet view
