* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   font-size: 10px;
   @media (min-width: 1080px) {
      &.overflow {
         overflow: hidden;
      }
   }
}

body {
   position: relative;
   min-height: 100vh;
   font-family: "Kumbh Sans", sans-serif;
   color: $waterloo;
   background-color: $bg-color;
   border: 1px solid transparent; //needed to get rid of html white space at the bottom of the signup page due to padding on the form

   .body__bg--top {
      position: absolute;
      background-image: url("../assets/home/bg-pattern-header.svg");
      background-size: cover;
      background-position: 30% 80%;
      background-repeat: no-repeat;
      top: -150px;
      height: 375px;
      width: 100%;
      z-index: -1;
      @media (min-width: 768px) {
         background-size: 666px 666px;
         background-position: 395px 0px;
         height: 100%;

         &--none {
            display: none;
         }
      }
      @media (min-width: 1080px) {
         background-size: 1134px 1134px;
         background-position: 656px 0px;
         top: -419px;
         height: 100%;
      }
   }
   .body__bg--bottom {
      position: absolute;
      background-image: url("../assets/home/bg-pattern-footer.svg");
      background-color: $ebony-clay;
      background-size: 1210px 1210px;
      background-position: center 260%;
      background-repeat: no-repeat;
      bottom: 0px;
      height: 1280px;
      width: 100%;
      z-index: -1;
      &--short {
         background-position: center 47%;
         background-size: 1140px 1140px;
         height: 300px;
      }
      @media (min-width: 768px) {
         background-size: 1310px 1310px;
         background-position: center -10%;
         height: 950px;

         &--short {
            background-position: center 47%;
            background-size: 1410px 1410px;
            height: 365px;
         }
      }
      @media (min-width: 1080px) {
         background-size: cover;
         background-position: -400px -460px;
         height: 650px;

         &--short {
            background-position: 49% 70%;
            background-size: 1910px 1910px;
            right: 0;
            width: 420px;
            height: 100%;
         }
      }

      @media(min-width: 1441px){
         &--short{
            background-position: 59% 70%;
            width: 650px;
         }
      }
   }
}

img:not(.header__logo) {
   width: 100%;
}

.container {
   min-height: 100vh;
   padding: 3rem 2rem 0;
   margin: 0 auto;
   // background-color: red;

   @media (min-width: 768px) {
      padding: 7.6rem 3.9rem 0;
      max-width: 768px;
   }
   @media (min-width: 1068px) {
      max-width: 1440px;
      padding: 8.15rem 16.5rem 9.1rem 16.5rem;
   }

   &--signup {
      max-width: 375px;

      @media (min-width: 768px) {
         padding: 7.6rem 3.9rem 0;
         max-width: 768px;
      }

      @media (min-width: 1068px) {
         max-width: 1440px;
         padding: 8.15rem 16.5rem 9.1rem 16.5rem;
         // background-color: red;
      }
   }
}

h1,
h2 {
   font-weight: $bold;
}

h1 {
   font-size: 3.8rem;
}

h3 {
   font-weight: $regular;
}

li {
   list-style: none;
}
